<nav class="navbar px-0 mb-8">
    <div class="navbar-start">
        <div class="dropdown">
            <div tabindex="0" role="button" class="btn btn-ghost pl-0 lg:hidden">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
                </svg>
            </div>
            <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-300 rounded-box z-[1] mt-3 w-52 p-2">
                <li><a class="btn btn-ghost" href="/about/">À propos</a></li>
                <li><a class="btn btn-ghost" href="/rss.xml">RSS</a></li>
                <li><a class="btn btn-ghost" href="/soutenir/">Soutenir</a></li>
            </ul>
        </div>
        <div class="flex flex-col items-start">
            <a class="btn btn-ghost text-2xl p-0 gap-0 h-auto min-h-0" href="/">
                <img alt="kerostig" src="/public/favicon/kerostig-logo.svg" class="h-12" />
            </a>
            <p class="text-xs mt-0.5" style="color:#6C6F75">les appels à publications en gestion, classés</p>
        </div>
    </div>
    <div class="navbar-end hidden lg:flex">
        <a class="btn btn-ghost" href="/about/">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 inline" fill="currentColor" viewBox="0 0 24 24">
                <path
                    d="M12,2C6.477,2,2,6.477,2,12s4.477,10,10,10s10-4.477,10-10S17.523,2,12,2z M13,17h-2v-6h2V17z M13,9h-2V7h2V9z" />
            </svg>
            À propos
        </a>
        <a class="btn btn-ghost" href="/rss.xml">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 inline" fill="currentColor" viewBox="0 0 100 100">
                <path d="M12.8,2.5c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7c39.3,0,71.3,32,71.3,71.3c0,3.7,3,6.7,6.7,6.7c3.7,0,6.7-3,6.7-6.7     C97.5,40.5,59.5,2.5,12.8,2.5z"/>
                <path d="M12.8,27.3c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7c25.7,0,46.6,20.9,46.6,46.5c0,3.7,3,6.7,6.7,6.7c3.7,0,6.7-3,6.7-6.7     C72.7,54.1,45.8,27.3,12.8,27.3z"/>
                <path d="M12.8,52c-3.7,0-6.7,3-6.7,6.7s3,6.7,6.7,6.7c12,0,21.8,9.7,21.8,21.7c0,3.7,3,6.7,6.7,6.7s6.7-3,6.7-6.7     C47.9,67.8,32.2,52,12.8,52z"/>
                <path d="M12.8,76.8c-5.7,0-10.3,4.6-10.3,10.3c0,5.7,4.6,10.4,10.3,10.4c5.7,0,10.4-4.7,10.4-10.4C23.2,81.4,18.5,76.8,12.8,76.8     z"/>
            </svg>
            RSS
        </a>
        <a class="btn btn-ghost" href="/soutenir/">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 inline" fill="currentColor" viewBox="0 0 24 24">
                <path
                    d="M12,21.35l-1.45-1.32C5.4,15.36,2,12.28,2,8.5C2,5.42,4.42,3,7.5,3c1.74,0,3.41,0.81,4.5,2.09C13.09,3.81,14.76,3,16.5,3 C19.58,3,22,5.42,22,8.5c0,3.78-3.4,6.86-8.55,11.54L12,21.35z" />
            </svg>
            Soutenir
        </a>
    </div>
</nav>
