<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@graph": [
    {
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 1,
          "name": "{{ meta.name }}",
          "item": "{{ meta.url }}/"
        },
        {
          "@type": "ListItem",
          "position": 2,
          "name": "{{ call.journal }}",
          "item": "{{ meta.url }}/journal/{{ call.journal | slug }}"
        },
        {
          "@type": "ListItem",
          "position": 3,
          "name": "{{ call.title if call.title else call.metaTitle | safe }}",
          "item": "{{ meta.url }}/call/{{ call.slug }}/"
        }
      ]
    },
    {
      "@type": "CreativeWork",
      "@id": "{{ meta.url }}/call/{{ call.slug }}/#cfp",
      "mainEntityOfPage": "{{ meta.url }}/call/{{ call.slug }}/",
      "name": "Call for Papers: {{ call.title if call.title else call.metaTitle | safe }}",
      "alternateName": "Special Issue CFP - {{ call.journal }}",
      "headline": "Special Issue CFP: {{ call.title if call.title else call.metaTitle | safe }}",
      "description": "{{ call.description.paragraphs[0] | safe if call.description and call.description.paragraphs and call.description.paragraphs|length > 0 else '' }}",
      "url": "{{ meta.url }}/call/{{ call.slug }}/",
      "sameAs": "{{ call.url | url }}",
      "image": "{{ meta.url }}/public/favicon/android-chrome-96x96.png",
      "inLanguage": "fr",
      "isAccessibleForFree": true,
      "keywords": [{% for tag in call.tags %}"{{ tag }}"{% if not loop.last %}, {% endif %}{% endfor %}],
      "datePublished": "{{ call.pubdate }}",
      "dateModified": "{{ call.pubdate }}",
      "expires": "{{ call.duedate }}",
      "publisher": {
        "@type": "Organization",
        "name": "{{ call.journal }}"
      },
      "editor": [{% for editor in call.editors %}
        {
          "@type": "Person",
          "name": "{{ editor.name }}"
        }{% if not loop.last %}, {% endif %}{% endfor %}
      ],
      "isPartOf": {
        "@type": "Periodical",
        "name": "{{ call.journal }}"
      },
      "audience": {
        "@type": "Audience",
        "audienceType": "Researchers in Information Systems"
      },
      "potentialAction": {
        "@type": "ApplyAction",
        "name": "Submit manuscript",
        "target": {
          "@type": "EntryPoint",
          "urlTemplate": "{{ call.url | url }}",
          "actionPlatform": [
            "http://schema.org/DesktopWebPlatform",
            "http://schema.org/MobileWebPlatform"
          ]
        }
      },
      "subjectOf": [{% for date in call.dates %}
          { "@id": "{{ meta.url }}/call/{{ call.slug }}/#event{{ loop.index }}" }{% if not loop.last %},{% endif %}{% endfor %}
      ]
    }{% if call.dates %},{% endif %}
    {% for date in call.dates %}
    {
      "@type": "Event",
      "@id": "{{ meta.url }}/call/{{ call.slug }}/#event{{ loop.index }}",
      "name": "{{ date.description }}",
      "startDate": "{{ date.date }}",
      "eventAttendanceMode": "https://schema.org/OnlineEventAttendanceMode",
      "eventStatus": "https://schema.org/EventScheduled",
      "about": {
        "@id": "{{ meta.url }}/call/{{ call.slug }}/#cfp"
      }
    }{% if not loop.last %},{% endif %}{% endfor %}
  ]
}
</script>